{% extends "shop/layout.html" %}

{% block content %}
    <div class="container">
        <div class="card-group">
            {% for shop in shop_list %}
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <img src="http://newsimg.hankookilbo.com/2016/04/13/201604131460701467_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url "shop:shop_detail" shop.id %}">
                                #{{ shop.id }}. {{ shop.name }}
                            </a>
                        </h5>
                        {% if shop.address %}
                        <p class="card-text">
                            {{ shop.address }}
                        {% endif %}
                        {% if shop.desc %}
                        <p class="card-text">
                            {{ shop.desc }}
                        </p>
                        {% endif %}
                        <p class="card-text">
                        <small class="text-muted">
                            {{ shop.created_at }}
                        </small>
                        </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{% url "shop:shop_new" %}" class="btn btn-primary">새 가게 등록 </a>
   
    </div>

{% endblock %}